{% extends 'base.html' %}{% block title%}Health Info{% endblock %} {%block
content%}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2> register here</h2>
      
    </div>
    <form action="">
      <h3>log in</h3>
      <input type="email" name="email" id="email" placeholder="email" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <a href="" class="login">login</a>
      <div class="register__forgotpass">
        <a href="register.html">REGISTER</a>
        <a href="">forgot password?</a>
      </div>
    </form>

   

      

      
    </div>
  </div>
</section>
<!-- End Services Section -->
{% endblock %}
